# Caddy автоматически выпустит и продлит HTTPS-сертификат Let's Encrypt
# для указанного домена (на VPS будут открыты порты 80 и 443 для проверки владения).
# Никаких ручных действий с сертификатом не нужно。



sport-events.dev.medovf2h.beget.tech {
	reverse_proxy app:8080
}